{% extends 'base.html' %}
{% block content %}
{% if current_user.is_authenticated %}
<p style="text-align: left;"><a class="btn btn-primary" href="{{ url_for('logout') }}">Выйти из ученной записи</a></p>
{% else %}
<p style="text-align: left"><a class="btn btn-primary" href="{{ url_for('register') }}">Зарегистрироваться</a></p>
<p style="text-align: left"><a class="btn btn-primary" href="{{ url_for('login') }}">Войти</a></p>
{% endif %}
<p style="text-align: left"><a class="btn btn-primary" href="{{ url_for('transactions_create') }}">Добавить транзакции</a></p>

<div class="container">
  <h1 style="font-family: 'Rubik Distressed', cursive; font-size: 80px" class="text-center">Транзакции</h1>
<table  class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Период транзакции</th>
        <th scope="col">Сумма</th>
        <th scope="col">Статус</th>
        <th scope="col">Валюта</th>
        <th scope="col">Комментариев проводки</th>
      </tr>
    </thead>
    <tbody>
    {% for trans in transactions %}
      <tr>
        <th scope="row">{{ trans.id }}</th>
        <td>{{ trans.period }}</td>
        <td>{{ trans.value }}</td>
          <td>{{ trans.status }}</td>
          <td>{{ trans.unit }}</td>
          <td>{{ trans.subject }}</td>
          <td><a style="text-decoration: underline;" class="btn btn-outline" href="{{ url_for('transactions_detail',id=trans.id) }}">Подробнее о транзакции</a></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock content %}